.contact_text {
    word-spacing: 1.05px;
    margin-bottom: 4rem;
}

.nextworks {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.icons {
    width: 30px;
    color: white;
    margin: 10px;
}

.form {
    display: flex;
    flex-direction: column;
    margin: 2re auto;
}

.inputForm {
    display: flex;
    flex-direction: column;
}

.inputForm:first-child label {
    margin-top: 2rem;
}

.inputForm input {
    margin-top: 0.4rem;
    padding: 0.5rem;
}

.send_button {
    margin: 1rem;
}

@media (min-width:600px) {
    
}

@media (min-width:500px) {
    .form {
        align-items: center;
    }

    .form input {
        width: 50vw;
        /* Corrected 'form [input]' to '.form input' */
    }

    .contact_text {
        margin-bottom: 4rem;
    }
}