.main{

}

.main_text{
  display: flex;
  flex-direction: column;
  font-size: 2rem;
}

.text_name{
  padding-top: 2rem;
  text-align: start;

}

.text_title{
  color: orange;
}

@media (min-width:400px){
  .main_text{
    font-size: 4rem;
  }
}

@media (min-width:1000px){
  .main_text{
    font-size: 5rem;
  }
}