.ul {
    display: none;
    list-style-type: none;
}

.menu_icon {
    width: 10px;
    cursor: pointer;
}

.link_icon {
    width: 25px;
    height: 20px;
    padding: 0 10px;
    cursor: pointer;
    font-weight: 300;
}

.link_icon:hover {
    color: blue;
}

.link {
    padding: 10px;
    cursor: pointer;
}

@media (min-width:500px) {
    .ul {
        display: flex;
    }

    .menu_icon {
        display: none;
    }
}